aiohttp
cachetools
ecdsa
eth-hash[pycryptodome]
execnet
fastecdsa
frozendict
gprof2dot
lark
marshmallow-dataclass==8.6.1
marshmallow-enum
marshmallow-oneofschema
marshmallow>=3.13.0,<4.0
mpmath
numpy
pipdeptree
prometheus-client
pytest
pytest-asyncio
pytest-profiling
pytest-xdist
PyYAML
sympy
typeguard<3.0.0
web3
