aiohttp
cachetools
ecdsa
eth-hash[pycryptodome]
execnet
fastecdsa
frozendict
gprof2dot
lark
marshmallow-dataclass>=7.1.0
marshmallow-enum
marshmallow-oneofschema
marshmallow>=3.2.1
mpmath
numpy
pipdeptree
prometheus-client
pytest
pytest-asyncio
pytest-profiling
pytest-xdist
PyYAML
sympy
typeguard<3.0.0
web3
